body {
  width: 10%;
  overflow: hidden;
  background: black;
}

canvas {
  width: 100%;
  background: black;
  position: absolute;
  top: 0;
  left: 0;
}

p {
  position: absolute;
  top: 45%;
  width: 100%;
  text-align: center;
  color: white;
  font-size: 1.5em;
  font-family: 'Press Start 2P', cursive;
}

div {
  position: absolute;
  top: 5%;
  right: 5%;
  color: lime;
  font-size: 1.5em;
  font-family: 'Press Start 2P', cursive;
}
