body {
  width: 10%;
  overflow: hidden;
  background: black;
}

canvas {
  width: 100%;
  background: black;
  position: absolute;
  top: 0;
  left: 0;
}

a {
  position: absolute;
  width: 100%;
  bottom: 3%;
  text-align: center;
  color: lime;
  font-size: 1.5em;
  font-family: 'Press Start 2P', cursive;
}

p {
  position: absolute;
  top: 45%;
  width: 100%;
  text-align: center;
  color: white;
  font-size: 1.5em;
  font-family: 'Press Start 2P', cursive;
}

.score {
  position: absolute;
  top: 5%;
  right: 3%;
  color: lime;
  font-size: 1.5em;
  font-family: 'Press Start 2P', cursive;
}

.round {
  position: absolute;
  top: 5%;
  left: 3%;
  color: lime;
  font-size: 1.5em;
  font-family: 'Press Start 2P', cursive;
}
