body {
  width: 10%;
  overflow: hidden;
}

canvas {
  width: 100%;
  background: black;
}

div {
  position: absolute;
  top: 260px;
  width: 100%;
  text-align: center;
  color: white;
  font-size: 3em;
}
